# -*- sh -*-
# ----------------------------------------------------------------------------
# Patterns
# ----------------------------------------------------------------------------

# ocaml object files
*.o
*.cm*
*.annot
.depend
*.so
*.a

# syncweb
.md5sum_*

# codegraph
*.opti

# latex
*.aux
*.brf
*.log
*.out
*.tex
*.toc
*.bbl
*.blg

# ocamldep
.depend

# ----------------------------------------------------------------------------
# Specific files
# ----------------------------------------------------------------------------
#dune
_build

external/ocamltk
external/stdlib/*

/docs/lineage.dot
/docs/lineage.pdf
/docs/mmm-*.pdf

# ocamldoc
*Fig_graph_ml.pdf

# lexers
/html/lexhtml.ml
/http/lexdate.ml
/http/lexheaders.ml
/i18n/japan/lexkanji.ml
/misc/lexpath.ml
/commons/lexpath.ml
/www/lexurl.ml

#binaries
/htparse
/mmm.bin
/mmm_remote
/sboard/surfboard
/sboard/surfboard_remote

#Makefile and co
/external/ocamltk/config.status

#misc
/safe/crcs.ml.bak
/safe/crcsmmm.ml.bak
/safe/crcs.ml
/safe/crcsmmm.ml

/safe/safe418mmm.ml
/safe/safe418mmm.mli

/external/ocamltk/Makefile.camltk
/external/ocamltk/Makefile.config
/external/ocamltk/tkanim/ext/Makefile

/safe/safe418.ml
/safe/safe418.mli
/safe/safefrx.ml
/safe/safefrx.mli
/safe/safejtk.ml
/safe/safejtk.mli
/safe/safetk.ml
/safe/safetk.mli
/safe/safetkanim.ml
/safe/safetkanim.mli

/ocamldoc.out

/commons/ocamldoc.out
/viewers/ocamldoc.out
/mmm
/safe/gen/safe418.ml
/safe/gen/safe418.mli
/safe/gen/safe418mmm.ml
/safe/gen/safe418mmm.mli

/demos/sboard/surfboard
/demos/sboard/surfboard_remote

extensions/sandbox/crcs.ml
extensions/sandbox/crcs.ml.bak
extensions/sandbox/crcsmmm.ml
extensions/sandbox/crcsmmm.ml.bak
extensions/sandbox/safefrx.ml
extensions/sandbox/safefrx.mli
extensions/sandbox/safejtk.ml
extensions/sandbox/safejtk.mli
extensions/sandbox/safetk.ml
extensions/sandbox/safetk.mli
extensions/sandbox/safetkanim.ml
extensions/sandbox/safetkanim.mli

/crcs/crcs.ml.bak
/crcs/crcsmmm.ml.bak

/dependencies.marshall
extensions/sandbox/gen/*.*

/Browser.pdf
/graph_code.marshall

/extensions/crcs/crcs.ml.bak
/extensions/crcs/crcsmmm.ml.bak

/mmm2
/TAGS
/diff
