# -*- sh -*-
# ----------------------------------------------------------------------------
# Patterns
# ----------------------------------------------------------------------------

# ocaml object files
*.o
*.cm*
*.annot
*.so
*.a

# ocamldep
.depend

# syncweb
.md5sum_*
.*.nwcache

# codegraph
*.opti

# latex
*.aux
*.brf
*.log
*.out
*.tex
*.toc
*.bbl
*.blg

# ----------------------------------------------------------------------------
# Specific files
# ----------------------------------------------------------------------------
#dune
_build

# see also external/ocamltk/.gitignore
#external/stdlib/*

/docs/lineage.dot
/docs/lineage.pdf
/docs/mmm-*.pdf

# ocamldoc
#*Fig_graph_ml.pdf

# lexers
/languages/html/lexhtml.ml
/src/http/lexdate.ml
/src/http/lexheaders.ml
/libs/i18n/japan/lexkanji.ml
/misc/lexpath.ml
/libs/commons/lexpath.ml
/src/url/lexurl.ml
/libs/misc/lexpath.ml

#binaries
/mmm
/htparse
/mmm.bin
/mmm_remote
/sboard/surfboard
/sboard/surfboard_remote
/demos/sboard/surfboard
/demos/sboard/surfboard_remote

# codegen
#src/applets/sandbox/gen/*.*
src/applets/sandbox/gen/safe418.ml
src/applets/sandbox/gen/safe418.mli
src/applets/sandbox/gen/safe418mmm.ml
src/applets/sandbox/gen/safe418mmm.mli

src/applets/sandbox/safefrx.ml
src/applets/sandbox/safefrx.mli
src/applets/sandbox/safejtk.ml
src/applets/sandbox/safejtk.mli
src/applets/sandbox/safetk.ml
src/applets/sandbox/safetk.mli
src/applets/sandbox/safetkanim.ml
src/applets/sandbox/safetkanim.mli

#Makefile and co

#misc
/ocamldoc.out
/commons/ocamldoc.out
/viewers/ocamldoc.out

/dependencies.marshall

/Browser.pdf
/graph_code.marshall
